{% extends 'base.html' %}


{% block title %}
<title>
    {{ content['title'] }}
</title>
{% endblock %}


{% block body %}
    <form action = "http://localhost:5000/" method = "post">
        <p>Enter Name:</p>
        <p><input type = "text" name = "name" /></p>
        <p><input type = "submit" value = "Далее" /></p>
    </form> 
    
    {% if content['person'] == 'admin' %}
      <p>admin</p>
    {% endif %}

    <p>{{ content['password'] }}</p>
    <p>{{ content['hashed_password'] }}</p>

{% endblock %}

